![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [2]:
ejer_1 = [1,2,3,4,5]
print(ejer_1[::-1])
ejer_1.reverse()
print(ejer_1)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [3]:
ejer_2 = [1,2,3,4,5]
ls_sqr = []

for item in ejer_2:
    ls_sqr.append(item ** 2)

ls_sqr

[1, 4, 9, 16, 25]

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [5]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

txt = "Hola"
ls_out = []
for word in ejer_3_2:
    ls_out.append(txt + " " + word)

ls_out

['Hola Que', 'Hola tal']

In [7]:
ejer_3_1 = ["Hola", "amigo", "primo", "hermano"]
ejer_3_2 = ["Que", "tal"]

ls_out = []
for txt in ejer_3_1:
    for word in ejer_3_2:
        ls_out.append(txt + " " + word)

ls_out

['Hola Que',
 'Hola tal',
 'amigo Que',
 'amigo tal',
 'primo Que',
 'primo tal',
 'hermano Que',
 'hermano tal']

## Ejercicio 4
Dada la siguiente lista, encuentra el índice del valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [9]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]
idx_45 = ejer_4.index(45)
ejer_4[idx_45] = 0
ejer_4

[20, 47, 19, 29, 0, 67, 78, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [3]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
ejer_5_b = ejer_5.copy()

for i in ejer_5:
    if i == 3:
        ejer_5_b.remove(i)

ejer_5_b

[20, 47, 19, 29, 45, 67, 78, 90]

In [6]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
ejer_5_b = ejer_5.copy()

n_3 = ejer_5.count(3)
for i in range(n_3):
    ejer_5_b.remove(3)

ejer_5_b

[20, 47, 19, 29, 45, 67, 78, 90]

In [7]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
ejer_5_b = ejer_5.copy()

idx = 0
while idx < len(ejer_5):
    if ejer_5[idx] == 3:
        ejer_5_b.remove(3)
    idx += 1

ejer_5_b

[20, 47, 19, 29, 45, 67, 78, 90]

In [8]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
ejer_5_b = ejer_5.copy()

while 3 in ejer_5_b:
    ejer_5_b.remove(3)

ejer_5_b

[20, 47, 19, 29, 45, 67, 78, 90]

In [14]:
def elimina_n(n, ls):
    ls_aux = ls.copy()

    while n in ls_aux:
        ls_aux.remove(n)
    
    return ls_aux

In [15]:
elimina_n(5, [1, 5, 2, 5, 3, 5, 4, 5])

[1, 2, 3, 4]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y ultimo elemento de la tupla del apartado 3. Usa `len` para el ultimo
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [16]:
tup1 = ("a", 1, (True, False))

In [19]:
tup2 = (8,)
print(type(tup2))

<class 'tuple'>

In [22]:
print(tup1[0])
print(tup1[-1])
print(f"La tupla 1 tiene {len(tup1)} elementos")

a
(True, False)
La tupla 1 tiene 3 elementos

In [24]:
tup_aux = ("hola",)
tup1 = tup1 + tup_aux
tup1

('a', 1, (True, False), 'hola')

In [25]:
tup5 = ("a", "b", "c")

tup5[2] = "d"

TypeError: 'tuple' object does not support item assignment

In [37]:
tup5 = ("a", "b", "d", 4, 5)

In [39]:
tup5 = tup5[:len(tup5)//2] + tup5[(len(tup5)//2 + 1):]
tup5

('a', 'b', 4, 5)

In [41]:
def remove_central(tup):
    n = len(tup)
    tup_out = tup[:n//2] + tup[n//2 + 1:]
    return tup_out

remove_central([3, 4, 4.5, 5])

[3, 4, 5]

In [42]:
list(tup5)

['a', 'b', 4, 5]

## Ejercicio 7
Concatena todos los elementos de la tupla en un unico string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [48]:
ejer_7 = ("cien", "cañones", "por", "banda")

"__".join(ejer_7)

'cien__cañones__por__banda'

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [53]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)

print(ejer_8[2])
print(ejer_8[-3])
print(ejer_8[len(ejer_8) - 1 - 2])

3
90
90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [56]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

print(ejer_9.count(3))

n = 0
for item in ejer_9:
    if item == 3:
        n = n + 1

print(n)

7
7

In [57]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
ejer_9_b = ejer_9[5: 11]
print(ejer_9_b)

(3, 29, 45, 67, 78, 90)

In [58]:
len(ejer_9)

26

## Ejercicio 10
Comprueba si el numero 60 esta en la tupla del ejercicio 9

In [61]:
ejer_9.index(60)

ValueError: tuple.index(x): x not in tuple

In [64]:
try:
    ejer_9.index(60)
    print("Está el 60")
except ValueError:
    print("No está el 60")

No está el 60

In [59]:
60 in ejer_9

False

In [60]:
bool(ejer_9.count(60))

False

## Ejercicio 11
1. Convierte la tupla del apartado 10 en una lista
2. Convierte la tupla del apartado 10 en un set
3. Convierte la tupla del apartado 10 en un diccionario. Usa también los indices

In [65]:
ejer_11 = list(ejer_9)
print(ejer_11)

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7]

In [69]:
set((True,) + ejer_9 + ("Hola", True))

{19, 2, 20, 29, 3, 4, 45, 47, 5, 6, 67, 7, 78, 9, 90, 'Hola', True}

In [73]:
ls = [2, 19, 333, 19, 2]
# ls = sorted(ls)
# ls_unique = sorted(list(set(ls)))

In [74]:
ls_out = []
for item in ls:
    if item not in ls_out:
        ls_out.append(item)
ls_out

[2, 19, 333]

In [79]:
def remove_dup(ls):
    ls_out = []
    for item in ls:
        if item not in ls_out:
            ls_out.append(item)
    return ls_out

In [80]:
remove_dup([1, 1, 2, 2, 100, 300, 100])

[1, 2, 100, 300]

## Ejercicio 12
Convierte la siguiente tupla en un diccionario
> ```ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [97]:
ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

dict(ejer_12)

{'x': 3, 'y': 2, 'z': 1}

{"x": [1, 2, 3], "y": [1, 2], "z": [1]}

In [87]:
d_aux = {}
d_aux["x"] = [5, 3]
d_aux

{'x': [5, 3]}

In [88]:
d_out = {}
for k, v in ejer_12:
    if k not in d_out.keys():
        d_out[k] = [v]
    else:
        d_out[k].append(v)

d_out

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [93]:
d_out.get("c", [])

[]

In [98]:
d_out = {}
for k, v in ejer_12:
    ls_key = d_out.get(k, [])
    d_out[k] = ls_key + [v]

d_out

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

## Ejercicio 13
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un unico for
> ```ejer_13 = {4:78, 2:98, 8:234, 5:29}```

In [102]:
ejer_13 = {4:78, 2:98, 8:234, 5:29}
ls_keys = ejer_13.keys()
ls_keys_asc = sorted(ls_keys)
ls_keys_asc

[2, 4, 5, 8]

In [104]:
ls_vals = ejer_13.values()
ls_vals_des = sorted(ls_vals, reverse=True)
ls_vals_des

[234, 98, 78, 29]

In [105]:
ejer_13[19] = 9999
ejer_13

{4: 78, 2: 98, 8: 234, 5: 29, 19: 9999}

In [106]:
ejer_13[2]

98

In [108]:
for k, v in ejer_13.items():
    print(f"Clave: {k}\tValor: {v}")

Clave: 4	Valor: 78
Clave: 2	Valor: 98
Clave: 8	Valor: 234
Clave: 5	Valor: 29
Clave: 19	Valor: 9999

In [109]:
for item in ejer_13.items():
    print(f"Clave: {item[0]}\tValor: {item[1]}")

Clave: 4	Valor: 78
Clave: 2	Valor: 98
Clave: 8	Valor: 234
Clave: 5	Valor: 29
Clave: 19	Valor: 9999

## Ejercicio 14
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_14_1 = {1: 11, 2: 22}```
>
> ```ejer_14_2 = {3: 33, 4: 44}```

In [110]:
ejer_14_1 = {1: 11, 2: 22}

ejer_14_2 = {3: 33, 4: 44}

In [112]:
ejer_14_1.update(ejer_14_2)

In [113]:
ejer_14_1

{1: 11, 2: 22, 3: 33, 4: 44}

In [115]:
ejer_14_1 = {1: 11, 3: 22}

ejer_14_2 = {3: 22, 4: 44}

ejer_14_1.update(ejer_14_2.keys(), ejer_14_2.values())

ejer_14_1

{1: 11, 3: 22, 4: 44}

In [117]:
{(1, 3, 4): [11, 22, 44]}

{(1, 3, 4): [11, 22, 44]}

## Ejercicio 15
Suma todos los valores del dicionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [120]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
ls_vals = ejer_15.values()
sum(ls_vals)

165

## Ejercicio 16
Multiplica todos los valores del diccionario
> ```ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [125]:
ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
ls_vals = ejer_16.values()

prod = 1
for key in ejer_16:
    prod *= ejer_16[key]

prod

19326120

In [123]:
for i in ejer_16:
    print(i)

1
2
3
4
5

## Ejercicio 17
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el utlimo elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`