![imagen](./img/python.jpg)

# Python Colecciones

#### Autor: [Daniel Ortiz López](https://www.linkedin.com/in/daniel-ortiz-l%C3%B3pez/)

Las colecciones son una manera de agrupar varios elementos. En otros notebooks vimos cómo funcionan las listas, que es la colección más usada, pero se trata solo de la punta del iceberg. Con Python tenemos varias manera de almacenar conjuntos de datos, dependiendo del tipo de dato, finalidad, tipo de acceso y rendimiento.

1. [Listas](#1.-Listas)
2. [Tuplas](#2.-Tuplas)
3. [Diccionarios](#3.-Diccionarios)
4. [Sets](#4.-Sets)
5. [Conversiones entre colecciones](#5.-Conversiones-entre-colecciones)
6. [Resumen](#6.-Resumen)

## 1. Listas
Ya conocemos bastante las listas. Veamos un repaso de lo que podemos hacer con ellas, así como algunas funcionalidades nuevas

In [2]:
# Listas de números, strings, booleanos, con elementos repetidos, listas anidadas...
nums = [6, 2, 8, 3, 4, 5, 5]
months = ["Enero", "Febrero", "Marzo"]
mix = [5, 7, "Abril", True, None, ["Blanco", "Negro"]]

### Acceso
Entre corchetes introducimos el indice del elemento al que queremos acceder

In [4]:
months = ["Enero", "Febrero", "Marzo"]
print(months[0])
print(months[1])
print(months[2])

Enero
Febrero
Marzo

Si planteamos el problema al revés. Tenemos los valores de la lista y lo que queremos es obtener el índice de esos valores dentro de la lista

In [7]:
months = ["Enero", "Febrero", "Marzo", "Marzo"]
months.index("Marzo")

2

In [10]:
list(enumerate(months))

[(0, 'Enero'), (1, 'Febrero'), (2, 'Marzo'), (3, 'Marzo')]

In [8]:
ls_idx_marzo = []
for idx, month in enumerate(months):
    if month == "Marzo":
        ls_idx_marzo.append(idx)

In [9]:
ls_idx_marzo

[2, 3]

**Slicing**: usamos slicing para acceder a varios elementos seguidos de la lista

In [11]:
degrees = [22, 34, 15, 26, 18, 22]

In [13]:
degrees[1:4]

[34, 15, 26]

In [14]:
degrees[:2]

[22, 34]

In [15]:
degrees[3:]

[26, 18, 22]

In [21]:
degrees[-3]

26

In [22]:
degrees

[22, 34, 15, 26, 18, 22]

In [23]:
degrees[-3:]

[26, 18, 22]

In [28]:
degrees[:4:2]

[22, 15]

In [26]:
degrees

[22, 34, 15, 26, 18, 22]

In [25]:
degrees[::2]

[22, 15, 18]

In [29]:
degrees[1::2]

[34, 26, 22]

### Modificar elementos
Las listas son mutables, por lo que podremos modificarlas

In [30]:
# Accediendo mediante el indice
months = ["Enero", "Febrero", "Marzo"]
months[1] = "Diciembre"
months

['Enero', 'Diciembre', 'Marzo']

### Añadir elementos
Se añade al final de la lista si usamos `append`, o si queremos en un lugar concreto, mediante `insert`

In [ ]:
# Con append lo añadimos al final de la lista
motorcycles = ['honda', 'yamaha', 'suzuki']

In [33]:
# Es muy comun crear una lista vacia, y a lo largo del programa, ir añadiendo elementos

cars = []
cars.append("SEAT")
print(cars)

cars.append("Mercedes")
print(cars)

cars.append("BMW")
print(cars)

['SEAT']
['SEAT', 'Mercedes']
['SEAT', 'Mercedes', 'BMW']

In [34]:
cars.insert(1, "Volvo")
print(cars)

['SEAT', 'Volvo', 'Mercedes', 'BMW']

### Eliminar elementos
Para eliminar elementos se usar `remove`. Si no existe, da error, así que cuidado con esta sentencia.

En ocasiones resulta útil quedarnos con el elemento eliminado. Para ello usamos `pop()`, que elimina el elemento que le indiquemos, y además devuelve ese elemento por lo que podremos guardarlo en una variable para usarlo después.

In [ ]:
cars = ["VW", "Seat", "BMW", "VW"]

In [35]:
# Eliminar elementos por indice, y guarda ese valor en una variable
cars = ["VW", "Seat", "BMW", "VW"]

In [37]:
print(cars.remove("BMW"))

None

In [38]:
print(cars.pop(0))

VW

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES remove</h3>
         
 </td></tr>
</table>

In [73]:
cars = ["VW", "Seat", "BMW", "VW"]
cars.remove("VW")
cars.remove("VW")
cars

['Seat', 'BMW']

In [60]:
try:
    cars.remove("Seat")
except ValueError:
    print("Elemento ya eliminado")

In [61]:
cars

['VW', 'BMW', 'VW']

### Métodos: ordenar, tamaño, invertir orden, ocurrencia
En este apartado veremos los métodos más útiles, pero podrás consultar el resto en [este enlace](https://www.w3schools.com/python/python_ref_list.asp)

In [75]:
degrees = [22, 34, 15, 26, 18, 22]
degrees.count(34)

1

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES indice</h3>
         
 </td></tr>
</table>

Mucho cuidado cuando accedemos a los elementos de la lista. Es un error muy habitual acceder a un índice que no existe en la lista.

Si estamos accediendo al ultimo elemento, en vez de poner el numero de su indice, poner mejor `-1`, y asi evitamos errores

In [79]:
degrees = [22, 34, 15, 26, 18, 22]
degrees.remove(22)
degrees.remove(22)
degrees[-1]

18

Si tenemos este tipo de errores y no sabemos resolverlos, lo mejor es imprimir la longitud de la lista, y todos los elementos.

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de listas</h3>

Piensa en al menos 3 personas que invitarías a cenar
<ol>
    <li>Utiliza la lista de invitados para imprimir cada uno por pantalla, mediante un bucle</li>
    <li>Ordena alfabeticamente tu lista de invitados</li>
    <li>¿Quién es el primer invitado de la lista?</li>
    <li>Te llama uno de ellos a última hora, que no va a poder asistir. Eliminalo de la lista</li>
    <li>Por suerte te ha llamado un amigo que no iba a asistir y al final si puede. Añadelo a mitad de la lista</li>
</ol>
         
 </td></tr>
</table>

In [97]:
ls_invitados = ["Maria", "Carlos", "Luis", "Laura"]
for invitado in ls_invitados:
    print(invitado)

Maria
Carlos
Luis
Laura

In [98]:
ls_invitados = sorted(ls_invitados)

In [99]:
ls_invitados

['Carlos', 'Laura', 'Luis', 'Maria']

In [100]:
ls_invitados.sort()

In [101]:
ls_invitados

['Carlos', 'Laura', 'Luis', 'Maria']

In [102]:
ls_invitados[0]

'Carlos'

In [103]:
ls_invitados.remove("Luis")

In [104]:
ls_invitados

['Carlos', 'Laura', 'Maria']

In [105]:
ls_invitados.insert(1, "Jose")

In [106]:
ls_invitados

['Carlos', 'Jose', 'Laura', 'Maria']

## 2. Tuplas
Muy similares a las listas. Si en Notebooks anteriores definíamos a las listas como ordenadas y mutables, las tuplas son ordenadas e inmutables.

* **Inmutables**: una vez creada la tupla con sus elementos iniciales, no se puede modificar
* **Ordenadas**: podemos acceder a sus elementos a través del indice y reordenar la tupla según queramos

Las tuplas se suelen usar para pequeñas colecciones de datos que no van a cambiar a lo largo del programa, como es el caso de las constantes.

Si las listas se construían mediante corchetes `[]`, las tuplas lo hacen con los paréntesis `()`

In [107]:
tup1 = (1, "Hola", 2., True)
print(tup1)

(1, 'Hola', 2.0, True)

In [108]:
type(tup1)

tuple

Los paréntesis ya se usan para reordenar operaciones `5 * (3 + 4)`, por lo que hay que añadir una coma cuando definamos una tupla con un único elemento, sino Python lo interpretará como un número.

In [109]:
a = [3]
type(a)

list

In [111]:
b = (3,)
type(b)

tuple

In [118]:
c = ()
type(c)

tuple

In [119]:
b[0] = 1

TypeError: 'tuple' object does not support item assignment

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES tuplas</h3>
         
 </td></tr>
</table>

Cuidado que las tuplas son inmutables, y una vez creadas no las podrás modificar después

In [121]:
# Si queremos añadir elementos, podemos meterlos en otra tupla y sumarlas para que se concatenen
tup2 = ("Extra1", "Extra2")

In [122]:
print(tup1)
print(tup2)
print(tup1 + tup2)

(1, 'Hola', 2.0, True)
('Extra1', 'Extra2')
(1, 'Hola', 2.0, True, 'Extra1', 'Extra2')

### Listas y tuplas
Podemos combinar listas y tuplas que no tendremos ningún problema, siempre y cuando respetemos las propiedades de cada tipo de dato.

In [123]:
ls_tup = [(1, "a"), (2, "b"), True]
ls_tup

[(1, 'a'), (2, 'b'), True]

In [124]:
ls_tup[0] = 0

In [125]:
ls_tup

[0, (2, 'b'), True]

In [130]:
ls_tup[1] = (2, "c")

In [131]:
ls_tup

[0, (2, 'c'), True]

In [132]:
tup_ls = ([1, "a"], (2, "b"), True)

In [133]:
tup_ls[0][0] = "b"

In [134]:
tup_ls

(['b', 'a'], (2, 'b'), True)

In [135]:
tup_ls[0] = 1

TypeError: 'tuple' object does not support item assignment

In [137]:
tup_ls[0].clear()

In [139]:
tup_ls[0].append(1)

In [140]:
tup_ls

([1], (2, 'b'), True)

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de tuplas</h3>


<ol>
    <li>Crea una tupla con un único valor. Comprueba su tipo</li>
    <li>Crea otra tupla con 3 elementos</li>
    <li>Añadele (como puedas) a la primera tupla, los tres elementos de la segunda</li>
    <li>Obtén una cuarta tupla a partir de los dos primeros valores de la tupla creada del apartado anterior</li>
</ol>
         
 </td></tr>
</table>

## 3. Diccionarios
En este tipo de colecciones no solo podemos agrupar datos, sino que tenemos la posibilidad de establecer una relación entre los mismos, con la forma **clave: valor**.

La sintaxis  es mediante llaves `{}`

> nombre_diccionario = {clave1: valor1, clave2: valor2, clave3: valor3}

Si veíamos que las listas son elementos mutables y y ordenadas, y las tuplas inmutables y ordenadas, los diccionarios son:

* **Mutables**: podemos modificar sus elementos
* **Desordenado**: la potencia de acceso de los diccionarios es su formato clave-valor, no su orden. Aun así, el dicionario conserva el orden de los elemento según los vamos insertando.

Vamos a declarar un diccionario en el que definiremos elementos de un coche

In [153]:
d_coche = {"Marca": "BMW", "color": "Negro", "kms": 20000, "ITV": True, 0:"Esto es un 0"}

In [154]:
d_coche[0]

'Esto es un 0'

In [151]:
d_coche["Marca"]

'BMW'

In [143]:
d_coche["kms"]

20000

Se puede almacenar todo tipo de datos: numero, cadena, booleano, listas, tuplas, diccionarios...

Cuando declaremos el diccionario, lo podemos hacer en una sola linea `coche = {"color"="Gris", "marca"...}`, aunque se recomienda por sencillez a la hora de leer el código, realizar esta acción en varias líneas. Si escribimos el primer elemento y presionamos enter, Jupyter introduce automáticamente la tabulación.

### Acceso, modificación, añadir, eliminar

In [155]:
d_coche["kms"]

20000

In [156]:
d_coche["kms"] = 20100

In [157]:
d_coche

{'Marca': 'BMW',
 'color': 'Negro',
 'kms': 20100,
 'ITV': True,
 0: 'Esto es un 0'}

In [158]:
d_coche["anyo"] = 2018

In [159]:
d_coche

{'Marca': 'BMW',
 'color': 'Negro',
 'kms': 20100,
 'ITV': True,
 0: 'Esto es un 0',
 'anyo': 2018}

In [160]:
d_coche.pop('anyo')

2018

In [161]:
d_coche

{'Marca': 'BMW',
 'color': 'Negro',
 'kms': 20100,
 'ITV': True,
 0: 'Esto es un 0'}

In [162]:
d_coche.keys()

dict_keys(['Marca', 'color', 'kms', 'ITV', 0])

In [163]:
d_coche.values()

dict_values(['BMW', 'Negro', 20100, True, 'Esto es un 0'])

In [164]:
d_coche.items()

dict_items([('Marca', 'BMW'), ('color', 'Negro'), ('kms', 20100), ('ITV', True), (0, 'Esto es un 0')])

Para más detalle de los métodos de los diccionario puedes [consultar la documentación](https://www.w3schools.com/python/python_ref_dictionary.asp)

In [165]:
# Podemos empezar tambien mediante un diccionario vacío
d_empty = {}

In [166]:
type(d_empty)

dict

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en diccionarios</h3>
         
 </td></tr>
</table>

Si hay una clave que no existe en el diccionario, saltará un error.

En este caso, el error es bastante intuitivo: `KeyError`, no encuentra la clave

In [167]:
d_coche["flores"]

KeyError: 'flores'

In [168]:
d_coche["flores"] = False
d_coche["flores"]

False

**¿Cómo solventar esto?** Sirmpre tienes la opción de usar el bloque `try/except`, pero en este caso, los diccionarios tienen una solución más elegante: `get(clave, valor si no existe)`

In [170]:
d_coche.pop("color")

'Negro'

In [171]:
d_coche

{'Marca': 'BMW', 'kms': 20100, 'ITV': True, 0: 'Esto es un 0', 'flores': False}

In [172]:
d_coche.get("color", "Color no disponible")

'Color no disponible'

### Iterar
Que el diccionario no esté ordenado, no quiere decir que no podamos iterar sus elementos, ya que también es un **interable**, como los son las listas o las tuplas.

In [173]:
for elem in d_coche:
    print(elem)

Marca
kms
ITV
0
flores

In [175]:
d_coche2 = {"Marca": "BMW", "color": "Negro", "color_retrovisor": "Negro"}

In [176]:
for k, v in d_coche2.items():
    if v == "Negro":
        print(k)

color
color_retrovisor

In [179]:
list(d_coche2.items())

[('Marca', 'BMW'), ('color', 'Negro'), ('color_retrovisor', 'Negro')]

In [177]:
for k, v in d_coche2.items():
    print(k, v)

Marca BMW
color Negro
color_retrovisor Negro

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de diccionarios</h3>


<ol>
    <li>Crea un diccionario con las caracteristicas de un televisor: tamaño, smarttv, marca...</li>
    <li>Añade otra catacteristica del tv</li>
    <li>Modifica una de ellas</li>
    <li>Imprime por pantalla sus claves, valores e items</li>
</ol>
         
 </td></tr>
</table>

In [180]:
d_tv = {"tamano": 45, "smarttv": True, "marca": "Sony"}
print(d_tv)

{'tamano': 45, 'smarttv': True, 'marca': 'Sony'}

In [182]:
d_tv["HD"] =  False

In [183]:
d_tv

{'tamano': 45, 'smarttv': True, 'marca': 'Sony', 'HD': False}

In [184]:
d_tv["smarttv"] = False

In [185]:
print(d_tv)

{'tamano': 45, 'smarttv': False, 'marca': 'Sony', 'HD': False}

In [186]:
print(d_tv.keys())
print(d_tv.values())
print(d_tv.items())

dict_keys(['tamano', 'smarttv', 'marca', 'HD'])
dict_values([45, False, 'Sony', False])
dict_items([('tamano', 45), ('smarttv', False), ('marca', 'Sony'), ('HD', False)])

## 4. Sets
Otra colección *bulit-in* de Python, compuesta por un conjunto de *claves*. Muy parecidos a los diccionarios. Tienen las siguientes características:
* **Mutables**: podemos modificarlos una vez se hayan creado
* **No ordenado**
* **Elementos unicos**: se compone de un conjunto de claves únicas

**¿Cuándo usar sets?** Cuando estemos buscando unicidad en nuestros datos y no nos importe el orden.

Te dejo por aquí [la documentación](https://docs.python.org/2/library/sets.html) para realizar consultas sobre los sets

Si sintaxis es:
>```Python
> mi_set = {elemento1, elemento2, elemento3}
>```

Tiene una sintaxis muy parecida a la de los diccionarios, pero en este caso no se utilizan los `:`.

Los elementos del set son unicos, por lo que si en la declaración, o posteriormente añadiendo elementos hubiese algún duplicado, el set lo ignoraría. Es más, cuando aplicas el `len`, muestra la cantidad de valores únicos que tiene.

Para comprobar si dos sets tienen los mismos elementos

## 5. Conversiones entre colecciones

### De lista

In [189]:
ls = [1, 2, 3]

print(tuple(ls))
print(dict(enumerate(ls)))

(1, 2, 3)
{0: 1, 1: 2, 2: 3}

In [190]:
ls = [(1, "a"), (2, "b")]

dict(ls)

{1: 'a', 2: 'b'}

### De Tupla

In [191]:
tup = (1, 2, 3)

list(tup)

[1, 2, 3]

In [192]:
tup2 = ((1, "a"), (2, "b"))
dict(tup2)

{1: 'a', 2: 'b'}

### De diccionario

In [193]:
d_ex = {1:"a", 2:"b"}
list(d_ex)

[1, 2]

In [194]:
d_ex.items()

dict_items([(1, 'a'), (2, 'b')])

In [195]:
tuple(d_ex)

(1, 2)

Se queda únicamente con las claves, y perdemos los valores. Para no perder la informacion:

### De Set

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en conversiones</h3>
         
 </td></tr>
</table>

El diccionario suele dar problemas cuando intentamos realizar conversiones entre colecciones, ya que es la estrutura más compleja.

## 6. Resumen

In [ ]:
# Listas
print("Listas")
nums = [6, 2, 8, 3, 4, 5, 5]

# Tamaño
print(len(nums))

# Acceso
print(nums[2])
print(nums[-1])

# Acceso por indice
print(nums.index(5))
nums.append('numeros')
print(nums)

# Eliminar
nums.remove("numeros")
print(nums)

# Ordenar
nums.sort()
print(nums)

# Tamaño de la lista
print(len(nums))

# Invertir el orden
nums.reverse()
print(nums)

# Ocurrencia de un valor
print(nums.count(22))

In [ ]:
# Tuplas
primera_tupla = (3, "text")

# Anidacion de tuplas
tupla_anid = (1, 2, 3, ("A", "B", "C"))
print(tupla_anid)

# El acceso es como en las listas
print(tupla_anid[0])

# Tambien son elementos iterables
for i in tupla_anid:
    print(i)
    
# El slicing también funciona igual
print(tupla_anid[0:2])

# Longitud de la tupla
print(len(tupla_anid))

In [ ]:
# Diccionario
coche = {"color": "Gris",
        "marca": "VW",
        "peso": 1500,
        "Cambio automatico": True}

print(coche)

coche = {"color": "Gris",
        "marca": "VW"
        }

for i in coche: # Esta recorriendo las claves
    print(i) # Imprimimos la clave
    print(coche[i]) # Imprimimos el valor
    
# Otra menera de recorrer los elementos
for clave, valor in coche.items():
    print(clave, valor)

In [ ]:
# Sets
colores = {"rojo", "azul", "blanco"}
print(colores)

# Mira lo que ocurre cuando ponemos duplicados
colores2 = {"rojo", "azul", "blanco", "rojo"}
print(colores2)

# El len tambien funciona aqui
len(colores2)

# Crear un set vacio. No se crea con {}, ya que si no, sería un diccionario.
dias = set()
print(dias)

# Añadir elementos
dias.add("Lunes")
dias.add("Martes")
dias.add("Miercoles")
print(dias)

# Eliminar elementos
dias.remove("Miercoles")
print(dias)

# Buscar elementos
print("Lunes" in dias)
print("Viernes" not in dias)

# Tambien es un iterable
for i in dias:
    print(i)