![imagen](img/python.jpg)

# Python Basics I

#### Autor: [Daniel Ortiz López](https://www.linkedin.com/in/daniel-ortiz-l%C3%B3pez/)

Bienvenido a tu primer asalto con Python. En este notebook encontrarás los primeros pasos para empezar a familiarizarte con este lenguaje.

1. [Variables](#1.-Variables)
2. [Print](#2.-Print)
3. [Comentarios](#3.-Comentarios)
4. [Flujos de ejecución](#4.-Flujos-de-ejecución)
5. [Del](#5.-Del)
6. [Tipos de los datos](#6.-Tipos-de-los-datos)
7. [Conversión de tipos](#7.-Conversión-de-tipos)
8. [Input](#8.-Input)
9. [None](#9.-None)
10. [Sintaxis y best practices](#10.-Sintaxis-y-best-practices)
11. [Resumen](#11.-Resumen)

## 1. Variables
Empezamos nuestra aventura en Python declarando variables. ¿Qué es esto y para qué sirve? Simplemente es una manera de etiquetar los datos del programa. Empezaremos declarando variables muy simples, como números y texto, pero acabaremos implementando estructuras más complejas.


### Variables numéricas

In [1]:
ingresos = 800

In [2]:
ingresos

800

In [3]:
ingresos

800

**Esto es una asignación**. A la palabra *ingresos*, le asignamos un valor mediante `=`.
Si queremos ver el valor de la variable, simplemente escribimos su nombre en una celda.

### Cadenas de texto
Las cadenas de texto se declaran con comillas simples o dobles

In [4]:
gastos_texto = "Los gastos del año han sido bajos"

In [5]:
gastos_texto

'Los gastos del año han sido bajos'

In [6]:
gastos_texto = "Los gastos del año han sido bajos"

Python es un lenguaje dinámico por lo que simpre podremos actualizar los valores de las variables. **Se recomienda usar nombres descriptivos para declarar las variables, pero no excesivamente largos**. Así evitamos sobreescribirlas sin querer.

Por otro lado, cuidado con los caracteres ele y uno (`l` vs `1`), así como con cero y o (`0` vs `O`). Se suelen confundir.

fatal vs fata1

clarO vs clar0

Reasignamos valor a gastos

Ahora la variable gastos vale 200. Si la última línea de una celda es una variable, su valor será el *output* de la celda: 200.

Vale, ¿y de qué nos sirve guardar variables?

Podremos usar estos datos posteriormente, en otro lugar del programa. Por ejemplo, si ahora en una celda nueva queremos obtener el beneficio, simplemente restamos los nombres de las variables

El `print` sirve para ver el output de la celda, imprimiendo valores por pantalla. Lo veremos en el siguiente apartado.

Si has programado en otros lenguajes, te llamará la atención que en Python no hay que especificar los tipos de los datos cuando declaramos una variable. No tenemos que decirle a Python que *ingresos* es un valor numerico o que *ingresos_texto* es una cadena de texto. Python lo interpreta y sabe qué tipo de datos son. Cada variable tiene su tipo de datos ya que **Python es un lenguaje fuertemente tipado**. Lo veremos más adelante, en el apartado *Tipos de datos*.

<table align="left">
 <tr><td width="80"><img src="img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en variables</h3>
         
 </td></tr>
</table>

### Escribir mal el nombre
Un error típico cuando declaramos variables es **escribir su nombre mal, o llamar despues a la variable de forma errónea**. En tal caso, aparece un `NameError: name 'variable_que_no_existe' is not defined`

Fíjate que te indica la línea donde se produce el error, el tipo de error (`NameError`), y una breve descripción del error.

### Cerrar bien los strings
Cuidado tambien cuando definamos una cadena de texto, y se nos olvide cerrarla con sus correspondientes comillas. Nos dará un `SyntaxError: EOL while scanning string literal` (End Of Line)

### Prohibido espacios en los nombres de las variables
También dará error si tenemos un espacio en la declaración de la variable. Se recomienda mínusculas y guiones bajos para simular los espacios.

**Los espacios que encuentres alrededor del igual se pueden usar perfectamente**. Es pura estética a la hora de leer el código.

In [7]:
mi_variable = 7

In [8]:
def hola():

SyntaxError: incomplete input (2768007229.py, line 1)

### Números en el nombre de la variable
Ojo con los números cuando declaremos variables. En ocasiones es determinante describir nuestra variable con algún número. En tal caso, ponlo siempre al final del nombre de la variable, ya que sino saltará un error.

In [9]:
1mivariable = 5

SyntaxError: invalid decimal literal (2658744039.py, line 1)

In [10]:
2001_odisea = "Pelicula"

SyntaxError: invalid decimal literal (521618810.py, line 1)

### Sensible a mayusculas
Mucho cuidado con las mayusculas y minusculas porque Python no las ignora. Si todas las letras de una variable están en mayusculas, tendremos que usarla en mayusculas, sino dará un error de que no encuentra la variable.

In [11]:
mivariable = 5

In [12]:
Mivariable

NameError: name 'Mivariable' is not defined

In [13]:
miVariable

NameError: name 'miVariable' is not defined

### Palabras reservadas
En Python, como en otros lenguajes, hay una serie de palabras reservadas que tienen un significado para el intérprete de Python y por lo tanto no podemos usar para ponerle nombre a nuestras variables.

Por ejemplo, `def` se usa para definir funciones en Python (lo veremos en otros notebooks), por lo que no podemos emplear `def` para nombrar a nuestras variables

In [14]:
def = 5

SyntaxError: invalid syntax (3093416914.py, line 1)

In [15]:
class = 18

SyntaxError: invalid syntax (2438684468.py, line 1)

Consulta la lista de palabras reservadas de Python

In [16]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [17]:
print("Hola")
def = 2
del def

SyntaxError: invalid syntax (106016157.py, line 2)

In [18]:
print("Hola")

Hola

In [19]:
print = 2

In [20]:
del print

### Resumen variables
En resumen:
* Usar minusculas. Sensible a mayusculas/minusculas
* No usar espacios
* No usar palabras reservadas
* No usar numeros al principio de la variable
* Cuidado con los caracteres `l`, `1`, `O`, `0`

<table align="left">
 <tr><td width="80"><img src="img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio variables</h3>

      
<ol>
    <li>Crea un programa que almacene tu nombre y tus apellidos en dos variables diferentes. </li>
    <li>Guarda tu edad en otra variable</li>
    <li>Modifica la variable de tu edad</li>
    <li>Comprueba que todas las variables tienen los valores que les corresponde</li>
</ol>
         
 </td></tr>
</table>

In [21]:
# 1. Nombre y apellidos
nombre = "Alberto"
apellidos = "Becerra Tomé"

print(nombre, apellidos, "patata")

Alberto Becerra Tomé patata

In [22]:
# 2. Edad
edad = 80
print(edad)

# 3. Modifica edad
edad = 27
print(edad)

80
27

In [23]:
nombre, apellidos, edad

('Alberto', 'Becerra Tomé', 27)

## 2. Print

Hasta ahora hemos visto en Jupyter dos tipos de celdas:
* **Markdown**: básicamente texto para las explicaciones
* **Código**: donde insertamos el código Python y lo ejecutamos

Las celdas de código, no solo corren el código y realizan todas las operaciones que le indiquemos, sino que también tienen un output, una salida de ese código. Tenemos dos opciones para ver el output del código, o bien mediante `print`, o poniendo una variable al final de la celda. En este último caso, veremos el valor de esa variable

In [24]:
nombre

'Alberto'

Si hacemos un print de un texto, podemos concatenar valores de variables mediante `%s`.

In [25]:
print("Hola buenas tardes")
nombre

Hola buenas tardes

'Alberto'

In [27]:
x = 10
y = 200
print("La x vale", x, "y la y vale", y)

La x vale 10 y la y vale 200

In [28]:
print("Hola, me llamo " + nombre + " y mis apellidos son " + apellidos)

Hola, me llamo Alberto y mis apellidos son Becerra Tomé

In [29]:
print(f"Hola, me llamo {nombre} y mis apellidos con {apellidos}")

Hola, me llamo Alberto y mis apellidos con Becerra Tomé

In [30]:
print("Hola, me llamo {} y mis apellidos son {}".format(nombre, apellidos))

Hola, me llamo Alberto y mis apellidos son Becerra Tomé

In [31]:
import sys
print(sys.executable)

c:\Users\alber\AppData\Local\Programs\Python\Python310\python.exe

In [32]:
import os
os.getcwd()

'c:\\Users\\alber\\Documents\\GitHub\\TheBridge\\SVL_DS_Febrero23\\1-Ramp Up\\1-Python\\1-Basics'

In [33]:
import math
print('The value of pi is approximately %f y mi nombre es %s.' % (math.pi, nombre))

The value of pi is approximately 3.141593 y mi nombre es Alberto.

Otra opcion si queremos imprimir por pantalla varios strings, es separandolos por comas en el `print`. Fíjate que le añade espacios en la salida cada vez que ponemos un valor nuevo entre comas.

In [34]:
print("Hola, me llamo patata")
print("Tengo 5 años")

Hola, me llamo patata
Tengo 5 años

In [35]:
print("Hola, me llamo patata\nTengo 5 años")

Hola, me llamo patata
Tengo 5 años

In [36]:
print("Hola, me llamo\tpatata")

Hola, me llamo	patata

In [37]:
print("Para escribir saltos de linea usamos \\n")

Para escribir saltos de linea usamos \n

In [38]:
print("Hola, me llamo \{nombre\} y mis apellidos con \{apellidos\}")

Hola, me llamo \{nombre\} y mis apellidos con \{apellidos\}

In [39]:
print("Hola")
print('Hola')

Hola
Hola

In [40]:
print("Hola, mis amigos dicen que soy un poco \"elefante\"")

Hola, mis amigos dicen que soy un poco "elefante"

## 3. Comentarios
Se trata de texto que va junto con el código, y que el intérprete de Python ignora por completo. Muy útil para documentar y explicar el código

In [41]:
# Esto es un comentario
# nombre = "Mario"
nombre

'Alberto'

In [42]:
'''
Hola que tal
Buenas tardes
dobré rano
bonjour
hôpital
'''

'\nHola que tal\nBuenas tardes\ndobré rano\nbonjour\nhôpital\n'

In [43]:
def hola():
    '''
    Función que devuelve Hola Mundo
    '''
    print("Hola Mundo")

In [44]:
hola()

Hola Mundo

In [45]:
# El primer argumento es una cadena que contiene el nombre del fichero.
#  El segundo argumento es otra cadena que contiene unos pocos 
# caracteres describiendo la forma en que el fichero será
#  usado. mode puede ser

In [46]:
# Número de perros en casa de mi vecino
perros = 5

**IMPORTATE**. SIEMPRE comentar el código. Nunca sabes quén lo puede heredar. Te dejo en [este link](https://realpython.com/python-comments-guide/) una guía interesante sobre cómo comentar tu código.

## 4. Flujos de ejecución
Los programas de Python se ejecutan secuencialmente, por lo que el orden en el que escribas las operaciones es determinante

In [47]:
ingresos

800

In [48]:
del gastos

NameError: name 'gastos' is not defined

In [49]:
beneficios = ingresos - gastos
gastos = 1000

NameError: name 'gastos' is not defined

In [50]:
gastos = 1000
beneficios = ingresos - gastos

In [51]:
beneficios

-200

**Da error**, primero tenemos que declarar las ventas, y luego sumarlas.

**¿Cuándo acaba una línea de código?**. El salto de línea lo interpreta Python como una nueva instrucción. En muchos lengujes, como Java hay que especificar el fin de la sentencia de código mediante `;` o con `,`. En Python no es necesario, aunque se puede usar igualmente.

In [56]:
print("Hola"); a = 1; print("adios"); print(a);

Hola
adios
1

## 5. Del
Es la sentencia que usaremos para borrar una variable. La verdad, no se suelen borrar variables. Vamos desarrollando los programas de Python sin preocuparnos de limpiar aquellas variables que no usamos. Normalmente no borrarlas no suele ser un problema, pero cuando manejamos un gran volumen de datos, podemos sufrir problemas de rendimiento ya que **las variables ocupan memoria**.

Cuando las variables son las que hemos visto hasta ahora, no pasa nada, pero si son más pesadas, como por ejemplo datasets de imágenes que ocupan mucho, sí va a venir bien eliminar aquellas que no usemos.

In [57]:
del gastos_texto

In [58]:
gastos_texto

NameError: name 'gastos_texto' is not defined

## 6. Tipos de los datos
Python es un lenguaje fuertemente tipado. Eso significa que las variables que usamos pertenecen a un tipo de datos: numero entero (int), real (float), texto (String), u otro tipo de objetos.

**¿Por qué es importante saber bien de que tipos son los datos?** Porque cada tipo de dato tiene una serie propiedades y operaciones asociadas. Por ejemplo, a un texto no lo puedo sumar 5. Por lo que cuando vayamos a hacer operaciones entre ellos, tenemos que asegurarnos de que son del mismo tipo para que el resultado sea el esperado. `texto + 5` no tiene sentido y va a dar error. Parece obvio, pero hay ocasiones en las que los tipos de los datos no son los esperados.

**¿Cuántos tipos de datos hay?** Básicamente aquí no hay límites. En este notebook veremos los más básicos, pero en notebooks posteriores verás que puedes crearte tus propios tipos de datos mediante las **clases**. En Python hay una serie de tipos de datos básicos, que podremos usar sin importar ningun módulo externo, son los llamados [*built-in Types*](https://docs.python.org/3/library/stdtypes.html). Estos son los más comunes:

* **Numérico**: tenemos `int`, `float` y `complex`. Dependiendo de si es un numero entero, uno real o un complejo.
* **String**: o Cadena. Cadena de texto plano
* **Booleano**: o Lógico. `True`/`False`

**¿Cómo sabemos el tipo de datos de una variable?** Mediante `type(nombre_variable)`

### Numéricos

In [60]:
a = 5
print(a)
print(type(a))

5
<class 'int'>

Bien, es un ***int***, un número entero. Si lo que quiero es un numero real, es decir, que tenga decimales, le añado un punto

In [61]:
b = 5.0
print(type(b))

<class 'float'>

Aunque no le haya añadido decimales como tal, ya le estoy diciendo a Python que esta variable es un numero real (***float***).

Algunas operaciones básicas que podemos hacer con los numeros:
* Sumar: `+`
* Restar: `-`
* Multiplicar: `*`
* Dividir: `/`
* Elevar: `**`
* Cociente division: `//`
* Resto de la división: `%`

In [74]:
print("Sumas/restas")
print(1 + 2)
print(1.0 + 2) # Fijate que cuando fuerzo a que alguno de los numeros sea float, el resultado es float
print(1 + 2.0)
print(1-2)

print("Multiplicaciones/Divisiones")
print(2 * 2)
print(2.0 * 2) # Ocurre lo mismo que en las sumas, cuando ponemos uno de los numeros como float.
print(2/2) # Al hacer la división, directamente convierte el numero en float, a pesar de que los dos son enteros y el resultado también.
print(1000/10)

print("Resto de la división")
print(10/3)
print(int(10/3)) # Me quedo con el entero de la division
print(10//3)
print(10 % 3) # Me quedo con el resto de la division

Sumas/restas
3
3.0
3.0
-1
Multiplicaciones/Divisiones
4
4.0
1.0
100.0
Resto de la división
3.3333333333333335
3
3
1

### Strings
El tercer tipo de datos más común es el *String*, o cadena de texto. Hay varias maneras de declararlo:

In [75]:
txt1 = 'ejemplo 1'
txt2 = "ejemplo 1"
print(txt1 == txt2)

True

Si da la casualidad de que en el texto hay comillas, tenemos la posibilidad de que Python las interprete como parte del texto y no como comando de inicio/cierre de String

In [76]:
print("De repente entró y dijo: "cáspita"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1366566554.py, line 1)

In [77]:
print('De repente entró y dijo: "cáspita"')

De repente entró y dijo: "cáspita"

In [78]:
print("De repente entró y dijo: \"cáspita\"")

De repente entró y dijo: "cáspita"

En ocasiones queremos poner saltos de línea o tabulaciones en los prints, o simplemente en una variable de tipo String. Para ello usamos los [*escape characters*](https://www.w3schools.com/python/gloss_python_escape_characters.asp) como `\n` para saltos de línea o `\t` para tabulaciones.

In [79]:
print("Hola" + "\n" + "Adios")

Hola
Adios

Para unir dos variables de tipo String, simplemente usamos el `+`

In [82]:
print(txt1)
print(txt2)
txt3 = txt1 + txt2
print(txt3)

ejemplo 1
ejemplo 1
ejemplo 1ejemplo 1

In [86]:
txt1

'ejemplo 1'

In [89]:
txt4 = (txt1 + " ") * ingresos
txt4

'ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 ejemplo 1 '

In [90]:
print(type(txt4))

<class 'str'>

### Booleano
Por último, el cuarto tipo de datos basiquísimo es el *booleano*: `True`/`False`. Para que Python reconoza este tipo de datos, hay que escribirlos con la primera letra en mayúscula

In [91]:
bl1 = True
print(type(bl1))

<class 'bool'>

Tipos de datos hay muchos, verás más adelante cómo crear tus propios tipos de datos mediante las clases y los objetos. Pero por ahora, quédate con los tipos de datos más simples:
* **int**: entero
* **float**: real
* **str**: cadena de texto
* **booleano**: true/false

En otros lenguajes de programación el valor numérico suele ir más desagregado dependiendo del volumen del mismo. No es lo mismo tener un `double`, que un `float`. Por suerte en Python no hay que preocuparse de eso :)

Veamos más ejemplos

In [100]:
print(type(1))
print(type(1.0))
print(type(-74))
print(type(4/1)) # Aunque haga division de enteros, Python automáticamente los convierte a float
print(type("Cadena de texto"))
print(type("-74"))
print(type(True))
print(type(False))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>

<table align="left">
 <tr><td width="80"><img src="img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en tipos de datos</h3>
         
 </td></tr>
</table>

In [101]:
"Hola" + 3

TypeError: can only concatenate str (not "int") to str

In [103]:
"Hola" * 1.05

TypeError: can't multiply sequence by non-int of type 'float'

In [104]:
"Hola" * 2

'HolaHola'

In [105]:
4 / 0

ZeroDivisionError: division by zero

In [106]:
import math
math.log(-2)

ValueError: math domain error

In [107]:
math.sqrt(-1)

ValueError: math domain error

In [113]:
(-2) ** .5

(8.659560562354934e-17+1.4142135623730951j)

## 7. Conversión de tipos
Como en otros lenguajes, en Python también tenemos la posibilidad de realizar conversiones entre los tipos de datos. Hasta ahora hemos visto pocos, pero cuando descubramos más tipos de datos y objetos, verás que son muy comunes estas transformaciones.

Un caso muy habitual es leer un archivo datos numéricos, y que Python interprete los números como caracteres. No es un error, pero posteriormente, cuando hagamos operaciones con nuestros números, tendremos errores, ya que en realidad son cadenas de texto. Si forzamos el cambio a numerico, nos evitaremos futuros problemas.

**Mucho cuidado en los cambios de tipos**. Tenemos que estar seguros de lo que hacemos ya que podemos perder información, o lo más probable, puede dar error, al no ser compatible el cambio.

Veamos como cambiar los tipos

In [116]:
a = 1.25
print(type(a))

b = int(a)
print(b)
print(type(b))

<class 'float'>
1
<class 'int'>

In [117]:
c = float(b)
print(c)
print(type(c))

1.0
<class 'float'>

In [118]:
d = "1.25"
e = float(d)
print(e)
print(type(e))

1.25
<class 'float'>

In [119]:
f = int(d)
print(f)
print(type(f))

ValueError: invalid literal for int() with base 10: '1.25'

In [121]:
g = str(a)
print(g)
print(type(g))

1.25
<class 'str'>

In [122]:
float("Hola")

ValueError: could not convert string to float: 'Hola'

Perdemos unos decimales, normalmente nada grave, aunque depende de la aplicación.

**NOTA**: si lo que queremos es redondear, podemos usar la función `round()`

In [ ]:
# Esta funcion tiene dos argumentos: el número y la cantidad de decimales que queremos conservar.
# Veremos funciones más adelante.

Para pasar de un **numero a string**, no hay problema

In [123]:
g = str(a)
print(g)
print(type(g))

1.25
<class 'str'>

In [124]:
str(1)

'1'

De **String a un número** tampoco suele haber problema. Hay que tener mucho cuidado con los puntos de los decimales. **Puntos, NO comas**

In [126]:
str(1.25)

'1.25'

In [127]:
str(1)

'1'

In [128]:
str(1 + 5*20**2)

'2001'

In [129]:
float("1,25")

ValueError: could not convert string to float: '1,25'

Pasar de **numero a boleano y viceversa**, tambien es bastante sencillo. Simplemente ten en cuenta que los 0s son `False`, y el resto de numeros equivalen a un `True`

In [130]:
bool(0)

False

In [131]:
bool(18)

True

In [132]:
bool("Hola")

True

In [133]:
bool(1.25)

True

En el caso de transformar **String a booleano**, los strings vacíos serán `False`, mientras que los que tengan cualquier cadena, equivaldrán a `True`.

Sin embargo, si la operación es la inversa, el booleano `True` pasará a valer una cadena de texto como `True`, y para `False` lo mismo.

In [134]:
bool("")

False

In [135]:
bool("d")

True

<table align="left">
 <tr><td width="80"><img src="img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en conversion de tipos</h3>
         
 </td></tr>
</table>

Ojo si intentamos pasar a entero un string con pinta de real. En cuanto lleva el punto, ya tiene que ser un numero real. A no ser que lo pasemos a real y posteriormente a entero (`int()`), o usando el `round()` como vimos anteriormente

In [136]:
int("2.3")

ValueError: invalid literal for int() with base 10: '2.3'

In [137]:
int(float("2.3"))

2

Si leemos datos con decimales y tenemos comas en vez de puntos, habrá errores.

In [138]:
float("1,25")

ValueError: could not convert string to float: '1,25'

Para solventar esto utilizaremos funciones que sustituyan unos caracteres por otros

In [140]:
float("1,25".replace(",", "."))

1.25

Es fudndamental operar con los mismos tipos de datos. Mira lo que ocurre cuando sumamos texto con un numero. Da un `TypeError`. Básicamente nos dice que no puedes concatenar un texto con un numero entero

In [141]:
"1.25" + 2

TypeError: can only concatenate str (not "int") to str

In [142]:
float("1.25") + 2

3.25

<table align="left">
 <tr><td width="80"><img src="img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio tipos de datos</h3>

      
<ol>
    <li>Crea una variable de tipo String en la que se incluyan unas comillas dobles </li>
    <li>Comprueba su tipo</li>
    <li>Crea otro string guardándolo en otra variable, y prueba a sumarlos</li>
    <li>Ahora declara una variable entera. Imprímela por pantalla</li>
    <li>Cambia el tipo de la variable entera a float. Imprime por pantalla tanto la nueva variable obtenida, como su tipo</li>
</ol>
         
 </td></tr>
</table>

In [144]:
txt5 = "Me gritó \"Estoy cansado!\""
print(txt5)
print(type(txt5))

Me gritó "Estoy cansado!"
<class 'str'>

In [146]:
txt6 = " Adios"
print(txt5 + txt6)

Me gritó "Estoy cansado!" Adios

In [150]:
num1 = 2
print(num1)
print(type(num1))
print('')
num2 = float(num1)
print(num2)
print(type(num2))

2
<class 'int'>

2.0
<class 'float'>

## 8. Input
Esta sentencia se usa en Python para recoger un valor que escriba el usuario del programa. Los programas suelen funcionar de esa manera, reciben un input, realizan operaciones, y acaban sacando un output para el usuario.

Por ejemplo, en la siguiente celda recojo un input, que luego podremos usar en celdas posteriores.

**CUIDADO**. Si corres una celda con un `input()` el programa se queda esperando a que el usuario meta un valor. Si en el momento en el que está esperando, vuelves a correr la misma celda, se te puede quedar pillado, depende del ordendaor/versión de Jupyter. Si eso ocurre, pincha en la celda y dale despues al botón de stop de arriba, o sino a Kernel -> Restart Kernel...

In [157]:
peso = input("Introduzca su peso: ")
peso = float(peso)

altura = input("Introduzca su altura: ")
altura = float(altura)

print(f"Su BMI es {peso/altura**2:.2f}")

Su BMI es 24.69

In [159]:
peso = float(input("Introduzca su peso: "))

altura = float(input("Introduzca su altura: "))

bmi = round(peso/altura**2, 2)

print(f"Su BMI es {bmi}")

Su BMI es 24.69

Puedes poner ints, floats, strings, lo que quieras recoger en texto plano.

Mira que fácil es hacer un chatbot un poco tonto, mediante el que hacemos preguntas al usuario, y almacenamos sus respuestas.

In [160]:
name = input("Hola, cómo te llamas?")
print(f"Buenas tardes {name}")

comida = input("Cuál es tu comida favorita?")
print(f"Mmm a mi también me encanta comer {comida}")

print("Espero que tengas un buen día")
print("Nos vemos!!")

Buenas tardes Alberto
Mmm a mi también me encanta comer papas con chocos
Espero que tengas un buen día
Nos vemos!!

<table align="left">
 <tr><td width="80"><img src="img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES con input</h3>
         
 </td></tr>
</table>

In [163]:
"""
Por defecto, el input del usuario es de tipo texto. Habrá que convertirlo a numerico con int(numero_input)
o con float(numero_input). Lo vemos en el siguiente notebook.
"""

num1 = float(input("Introduzca un número"))
num2 = float(input("Introduzca otro número"))

print(f"El resultado es {num1 + num2}")

El resultado es 5.0

<table align="left">
 <tr><td width="80"><img src="img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio input</h3>

En este ejemplo vamos a simular un chatbot al que le haremos pedidos de pizzas.
<ol>
    <li>El chatbot tiene que saludar con un: "Buenas tardes, bienvenido al servicio de pedido online, ¿Cuántas pizzas desea?"</li>
    <li>El ususario tiene que introducir un número de pizzas en una variable llamada 'pizz'</li>
    <li>Respuesta del chatbot: "Estupendo, se están preparando 'pizz' pizzas. Digame su dirección"</li>
    <li>El ususario tiene que introducir una direccion en formato String en otra variable llamada 'direcc'</li>
    <li>Respuesta final del chatbot: "Le mandaremos las 'pizz' pizzas a la dirección 'direcc'. Muchas gracias por su pedido."</li>
</ol>
         
 </td></tr>
</table>

In [164]:
print("Buenas tardes, bienvenido al servicio de pedido online, ¿Cuántas pizzas desea?")
pizz = int(input("Introduzca número de pizzas"))

print(f"Estupendo, se están preparando {pizz} pizzas. Dígame su dirección.")
direcc = input("Introduzca su dirección")

print(f"Le mandaremos {pizz} pizzas a la dirección {direcc}")

Buenas tardes, bienvenido al servicio de pedido online, ¿Cuántas pizzas desea?
Estupendo, se están preparando 5 pizzas. Dígame su dirección.
Le mandaremos 5 pizzas a la dirección Calle Ave del Paraiso, 23

## 9. None
Palabra reservada en Python para designar al valor nulo. `None` no es 0, tampoco es un string vacio, ni `False`, simplemente es un tipo de datos más para representar el conjunto vacío.

In [166]:
a = None

print(a)
print(type(a))

None
<class 'NoneType'>

## 10. Sintaxis y best practices
A la hora de escribir en Python, existen ciertas normas que hay que tener en cuenta:
* Todo lo que abras, lo tienes que cerrar: paréntesis, llaves, corchetes...
* Los decimales se ponen con puntos `.`
* Best practices
    * **Caracteres**: NO se recomienda usar Ñs, acentos o caracteres raros (ª,º,@,ç...) en el codigo. Ponerlo únicamente en los comentarios.
    * **Espacios**: NO usar espacios en los nombres de las variables ni de las funciones. Se recomienda usar guión bajo para simular el espacio. O también juntar las palabras y usar mayuscula para diferenciarlas `miVariable`. Lo normal es todo minúscula y guiones bajos
    * Ahora bien, sí se recomienda usar espacios entre cada comando, para facilitar la lectura, aunque esto ya es más cuestión de gustos. `mi_variable = 36`.
    * Se suelen declarar las variables en minuscula.
    * Las constantes (variables que no van a cambiar nunca) en mayuscula. `MI_PAIS = "España"`
    * **Cada sentencia en una linea**. Se puede usar el `;` para declarar varias variables, pero no es lo habitual
    * **Comentarios**: TODOS los que se pueda. Nunca sabes cuándo otra persona va a coger tu espectacular código, o si tu *yo* del futuro se acordará de por qué hiciste ese bucle while en vez de un for.
    * **Case sensitive**: sensible a mayusculas y minusculas. CUIDADO con esto cuando declaremos variables o usemos Strings
    * **Sintaxis de línea**: para una correcta lectura del codigo lo mejor es aplicar sintaxis de línea en la medida de lo posible

In [ ]:
# A esto nos referimos con sintaxis de línea
lista_compra = ['Manzanas',
               'Galletas',
               'Pollo',
               'Cereales']

### The Zen of Python
Cualquier consejo que te haya podido dar hasta ahora se queda en nada comparado con los 20 principios que definió *Tim Peters* en 1999. Uno de los mayores colaboradores en la creación de este lenguaje

In [167]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [168]:
num1 = input("Introduzca primer numero")
num2 = input("Introduzca segundo numero")

num3 = num1 + num2

assert type(num3) == float, f"{num3} no es un número"

AssertionError: 3.52.5 no es un número

## 11. Resumen

In [ ]:
# Declarar variables
var = 10

# Reasignar valores
var = 12

# Imprimir por pantalla
print("Primera linea")
print("Variable declarada es:", var)
print("Variable declarada es: %s" %(var))

"""
Comentarios
Multilínea
"""

# Eliminar variables
del var

# Tipos de datos
print("\n") # Simplemente para que haya un salto de linea en el output
print(type(1)) # Int
print(type(1.0)) # Float
print(type("1")) # String
print(type(True)) # Boolean

# Conversiones de tipos
print("\n")
var2 = 4
print(type(var2))
var2 = str(var2)
print(type(var2))
var2 = bool(var2)
print(type(var2))

# El valor nulo
print(None)

# Input de variables
var3 = input("Inserta variable ")