![imagen](./img/python.jpg)

# Python Basics II

#### Autor: [Daniel Ortiz López](https://www.linkedin.com/in/daniel-ortiz-l%C3%B3pez/)

Ya hemos visto cómo declarar variables, qué tipos hay, y otras funcionalidades importantes de Python como sus flujos de ejecución o las formas que tenemos de comentar el código. En este Notebook aprenderás a realizar **operaciones con tus variables** y descubrirás las colecciones mediante uno de los objetos más usados en Python: **las listas**.

1. [Operaciones aritméticas](#1.-Operaciones-aritméticas)
2. [Operaciones comparativas](#2.-Operaciones-comparativas)
3. [Operaciones con booleanos](#3.-Operaciones-con-booleanos)
4. [Funciones *Built-in*](#4.-Funciones-Built-in)
5. [Métodos](#5.-Métodos)
6. [Listas](#6.-Listas)
7. [Resumen](#7.-Resumen)

## 1. Operaciones aritméticas
En el Notebook *Python Basics I* ya vimos por encima las principales operaciones aritméticas en Python. Las recordamos:
* Sumar: `+`
* Restar: `-`
* Multiplicar: `*`
* Dividir: `/`
* Elevar: `**`
* Cociente division: `//`
* Resto de la división: `%`

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de operaciones aritméticas</h3>

      
<ol>
    <li>Declara una variable int</li>
    <li>Declara otra variable float.</li>
    <li>Suma ambas variables. ¿Qué tipo de dato es el resultado?</li>
    <li>Multiplica ambas variables</li>
    <li>Eleva una variable a la potencia de la otra</li>
    <li>Calcula el resto de dividir 12/5</li>
</ol>
         
 </td></tr>
</table>

In [9]:
num1 = 10
num2 = 2.5
num3 = num1 + num2
print(num3)
print(type(num3))

num4 = num1 * num2
print(num4)

num5 = num1 ** num2
print(num5)

print(12 % 5)

12.5
<class 'float'>
25.0
316.22776601683796
2

### Propiedad conmutativa, asociativa, distributiva y el paréntesis
Si queremos concatenar varias operaciones, ten siempre en cuenta las propiedades matemáticas de la multiplicación

In [12]:
print("Conmutativa")
print(2 * 3)
print(3 * 2)

print("\nDistributiva") # Recuerda que "\n" se usa para que haya un salto de linea en el output.
print(2 * (3 + 5))
print(2 * 3 + 2 * 5)

print("\nAsociativa")
print((3 * 2) * 5)
print(3 * (2 * 5))

print("\nEl Orden de operaciones se mantiene. Siempre podemos usar paréntesis")
print(2 * (2 + 3) * 5)
print((2 * 2 + 3 * 5)/(4 + 7))

Conmutativa
6
6

Distributiva
16
16

Asociativa
30
30

El Orden de operaciones se mantiene. Siempre podemos usar paréntesis
50
1.7272727272727273

### Operaciones más complejas
Si salimos de las operaciones básicas de Python, tendremos que importar módulos con más funcionalidades en nuestro código. Esto lo haremos mediante la sentencia `import math`. `math` es un módulo con funciones ya predefinidas, que no vienen por defecto en el núcleo de Python. De esta forma será posible hacer cálculos más complejos como:

* Raíz cuadrada
* Seno/Coseno
* Valor absoluto
*...

El módulo es completísimo y si estás buscando alguna operación matemática, lo más seguro es que ya esté implementada. Te dejo por aquí el [link a la documentación del módulo.](https://docs.python.org/3/library/math.html).

In [14]:
import math
math.comb(12, 2)

66

In [15]:
math.ceil(4.1)

5

In [17]:
math.factorial(3)
math.factorial(12)

479001600

In [18]:
# n! / (k! * (n - k)!)

n = 12
k = 2

combs = math.factorial(n) / (math.factorial(k) * math.factorial(n - k))
combs

66.0

Como en todos los lenguajes de programación, suele haber una serie de componentes básicos (variables, operaciones aritméticas, tipos de datos...) con los que podemos hacer muchas cosas. Ahora bien, si queremos ampliar esas funcionalidades, se suelen importar nuevos módulos, con funciones ya hechas de otros usuarios, como en el caso del módulo `math`. Veremos esto de los módulos más adelante.

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES Dividir por cero</h3>
         
 </td></tr>
</table>

Cuidado cuando operamos con 0s. Las indeterminaciones y valores infinitos suponen errores en el código. Por suerte, la descripción de estos errores es bastante explícita, obteniendo un error de tipo `ZeroDivisionError`

In [19]:
5 / 0

ZeroDivisionError: division by zero

In [20]:
# Hay valores que se salen del dominio de algunas funciones matemáticas, como es el caso de las raices de números negativos
math.sqrt(-10)

ValueError: math domain error

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de operaciones con math</h3>

Consulta la documentación de math para resolver este ejercicio 
<ol>
    <li>Calcula el valor absoluto de -25. Usa fabs</li>
    <li>Redondea 4.7 a su enero más bajo. Usa floor</li>
    <li>Redondea 4.3 a su enero más alto. Usa ceil</li>
    <li>El número pi</li>
    <li>¿Cuál es el área de un círculo de radio 3?</li>
</ol>
         
 </td></tr>
</table>

In [27]:
num1 = -25
print(math.fabs(num1))

num2 = 4.7
print(math.floor(num2))

num3 = 4.3
print(math.ceil(num3))

print(math.pi)

radio = 3
area = math.pi * radio**2
print(area)

25.0
4
5
3.141592653589793
28.274333882308138

## 2. Operaciones comparativas
Es bastante intuitivo comparar valores en Python. La sintaxis es la siguiente:
* `==`: Igualdad. No es un `=`. Hay que diferenciar entre una comparativa, y una asignación de valores
* `!=`: Desigualdad
* `>`: Mayor que
* `<`: Menor que
* `>=`: Mayor o igual que
* `<=`: Menor o igual que

In [31]:
asign = 1
asign == 5

False

En la asignación estamos diciendole a Python que la variable `asign` vale 1, mientras que en la comparación, estamos preguntando a Python si `a` equivale a 5. Como vale 1, nos devuelve un `False`

In [45]:
print(asign > 0)
print(asign < 1)
print(asign <= 1)
print(asign > 1)
print(asign >= 1)
print(type(asign) == type(1.))
print(asign != 1)

True
False
True
False
True
False
False

In [47]:
"1" == 1

False

In [48]:
1.36 == 1

False

In [49]:
int(1.36) == 1

True

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en comparativas</h3>
         
 </td></tr>
</table>

Este tipo de errores son muy comunes, pues es muy habitual comparar peras con manzanas. Cuando se trata de una igualdad (`==`), no suele haber problemas, ya que si las variables son de distinto tipo, simplemente es `False`. Lo ideal sería que Python nos avisase de estas cosas porque realmente lo estamos haciendo mal, no estamos comparando cosas del mismo tipo

In [50]:
"1" == 1

False

In [52]:
"Hola" > 1

TypeError: '>' not supported between instances of 'str' and 'int'

In [55]:
"Hola" > "Adios"

False

&#128571;

In [74]:
print(u'\U0001F600')

😀

In [ ]:
# Obtenemos un TypeError cuando la comparativa es de > o <

## 3. Operaciones con booleanos
Todas las operaciones que realizabamos en el apartado anterior devolvían un tipo de dato concreto: un booleano. `True` o `False`. Pero ¿cómo harías si se tienen que cumplir 3 condiciones, o solo una de esas tres, o que no se cumplan 5 condiciones?
Para este tipo de operaciones recurrimos al [*Álgebra de Boole*](https://es.wikipedia.org/wiki/%C3%81lgebra_de_Boole#:~:text=El%20%C3%A1lgebra%20de%20Boole%2C%20tambi%C3%A9n,que%20esquematiza%20las%20operaciones%20l%C3%B3gicas.). Se trata de una rama del álgebra que se utiliza en electrónica, pero que tiene un sin fin de aplicaciones, no solo téncicas, sino aplicables a la vida cotidiana. Estas matemáticas pueden llegar a ser muy complejas aún utilizando ñunicamente dos valores: `True` y `False`. Las operaciones más comunes son **AND, OR, NOR**.
En las siguientes tablas tienes todos los posibles resultados de las puertas AND, OR, NOR, dependiendo de sus inputs.

![imagen](./img/puertas_logicas.png)

Puede parecer complejo pero a efectos prácticos, y sin meternos con otro tipo de puertas lógicas, te recomiendo seguir estas reglas:
* **AND**: Se tienen que cumplir ambas condiciones para que sea un `True`
* **OR**: Basta que se cumpla al menos una condicion para que sea `True`
* **NOR**: Lo contrario de lo que haya

Veamos un ejemplo práctico para aclarar estos conceptos. Imaginemos que queremos comprar un ordenador, pero nos cuesta decidirnos. Eso sí, tenemos claras las siguentes condiciones a la hora de elegir
* La RAM me vale que tenga 16, 32 o 64 GB
* En cuanto al procesador y disco duro, la combinación que mejor me viene es un i3 con 500GB de disco.
* Precio: que no pase de los 800 €

In [78]:
# Primer ordenador
ram1 = 32
process1 = "i5"
disco1 = 500
precio1 = 850

# Segundo ordenador
ram2 = 8
process2 = "i5"
disco2 = 500
precio2 = 600

# Tercer ordenador
ram3 = 32
process3 = "i3"
disco3 = 500
precio3 = 780

In [79]:
# ¿Nos sirve el ordenador 1?
cond1 = (ram1 == 16) or (ram1 == 32) or (ram1 == 64)
cond2 = process1 == "i3"
cond3 = disco1 == 500
cond4 = precio1 <= 800

In [80]:
compro_ord1 = cond1 and cond2 and cond3 and cond4
print(f"¿Compro el ordenador 1?: {compro_ord1}")

¿Compro el ordenador 1?: False

In [81]:
# ¿Nos sirve el ordenador 2?
cond1 = (ram2 == 16) or (ram2 == 32) or (ram2 == 64)
cond2 = process2 == "i3"
cond3 = disco2 == 500
cond4 = precio2 <= 800

In [82]:
compro_ord2 = cond1 and cond2 and cond3 and cond4
print(f"¿Compro el ordenador 2?: {compro_ord2}")

¿Compro el ordenador 2?: False

In [83]:
# ¿Nos sirve el ordenador 3?
cond1 = (ram3 == 16) or (ram3 == 32) or (ram3 == 64)
cond2 = process3 == "i3"
cond3 = disco3 == 500
cond4 = precio3 <= 800

In [84]:
compro_ord3 = cond1 and cond2 and cond3 and cond4
print(f"¿Compro el ordenador 3?: {compro_ord3}")

¿Compro el ordenador 3?: True

Veamos cómo implemento esto mediante operaciones booleanas

In [ ]:
# Primero, calculamos el valor de estas condiciones por separado
cond_ram1 = (ram1 == 16 or ram1 == 32 or ram1 == 64) # OR: me vale al menos un True para que se cumpla esta condicion
cond_process1 = (process1 == "i3" and disco1 == 500) # AND: se tienen que cumplir ambas
cond_precio1 = (precio1 <= 800)

El primer ordenador cumple el requisito de ram, pero no los de precio y procesador/disco. Veamos los otros dos si los cumplen

In [ ]:
cond_tot2 = (ram2 == 16 or ram2 == 32 or ram2 == 64) and (process2 == "i3" and disco2 == 500) and (precio2 <= 800)
cond_tot3 = (ram3 == 16 or ram3 == 32 or ram3 == 64) and (process3 == "i3" and disco3 == 500) and (precio3 <= 800)

print("Resultado de si me encaje el ordenador 2: ", cond_tot2)
print("Resultado de si me encaje el ordenador 3: ", cond_tot3)

¡Bingo! El tercer ordenador cumple todas las condiciones para ser mi futura compra. Verás en próximos notebooks que esto se puede hacer todavía más sencillo mediante bucles y funciones.

Si quieres aprender más sobre el **Álgebra de Boole**, te recomiendo [esta página](https://ryanstutorials.net/boolean-algebra-tutorial/)

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES varios</h3>
      
 </td></tr>
</table>

¡No me vas a creer cuando te diga que lo mejor que te puede pasar es que te salten errores por pantalla! Si, estos son los errores más fáciles de detectar y puede que también fáciles de corregir ya que tienes la ayuda del descriptivo del error. El problema gordo viene cuando no saltan errores y ves que tu código no lo está haciendo bien. Para ello tendremos que debugear el código y ver paso a paso que está pasando. Lo veremos en notebooks posteriores. De momento corregiremos el código revisandolo a ojo.

Como ves en el siguiente ejemplo, el resultado del ordenador 3 es `False` cuando debería ser `True`. ¿Por qué?

In [86]:
cond_tot3 = (ram3 == 16 or ram3 == 32 or ram3 == 64) and (process3 == "i3" and disco3 == 500) and (precio3 >= 800)

print("Resultado de si me encaja el ordenador 3: ", cond_tot3)

Resultado de si me encaja el ordenador 3:  False

Cuidado cuando tenemos sentencias muy largas, ya que nos puede bailar perfectamente un paréntesis, un `>`, un `and` por un `or`... Hay que andarse con mil ojos.

Y sobretodo, cuidado con el *copy paste*. Muchas veces, por ahorrar tiempo, copiamos código ya escrito para cambiar pequeñas cosas y hay veces que se nos olvida cambiar otras. Pensamos que está bien, ejecutamos, y saltan errores. Copiar código no es una mala práctica, es más, muchas veces evitamos errores con los nombres de las variables, pero hay que hacerlo con cabeza.

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de operaciones con booleanos</h3>

Sin escribir código, ¿Qué valor devuelve cada una de las siguientes operaciones?
<ol>
    <li>not (True and False)</li>
    <li>False or False or False or False or False or False or True or False or False or False</li>
    <li>True or True or True or True or True or False or True or True or True or True</li>
    <li>(False and True and True) or (True and True)</li>
</ol>
         
 </td></tr>
</table>

1. True
2. True
3. True
4. True

## 4. Funciones *Built in*
Hay una serie de funciones internas, que vienen en el intérprete de Python. Algunas de las más comunes son:
* **Tipos**: `bool()`, `str()`, `int()`, `float()`
* **Min/Max**: `min()`, `max()`
* **print()**
* **type()**
* **range()**
* **zip()**
* **len()**
* ...

La sintaxis de la función es:

```Python
nombre_funcion(argumentos)
```

Algunas ya las hemos visto. Sin embargo, hay unas cuantas que las iremos descubriendo a lo largo de estos notebooks. Para más detalle, tienes [aquí](https://docs.python.org/3/library/functions.html) todas las funciones *built-in* de la documentación.

De momento, en lo que se refiere a funciones, vamos a ir trabajando con funciones ya hechas, pero más adelante crearemos nuestras propias funciones.

In [88]:
help()

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [87]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [95]:
# Len se usa para calcular la longitud de una variable. Ya veras que lo usaremos mucho en colecciones
txt1 = "Funciones Built-In"
print(len(txt1))

# Funcion max. Tiene tantos argumentos como cantidad de números entre los cuales queramos sacar su valor máximo.
print(max(1, 2, 3, 4, 5, -1, 9999))
print(min(1, 2, 3, 4, 5, -1, 9999))

18
9999
-1

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de funciones built-in</h3>

Busca <a href="https://docs.python.org/3/library/functions.html">en la documentación</a> una función que te sirva para ordenar de manera descendente la siguiente lista
         
 </td></tr>
</table>

In [99]:
import random
random.seed(10)
ls = [random.normalvariate(mu=0.0, sigma=1.0) for x in range(10)]
ls

[0.21448220356783346,
 0.1687460604181699,
 0.31352186287510486,
 0.05274832833576123,
 1.5570857902729596,
 -0.28351951993353747,
 0.5526035865364803,
 0.9429160721831427,
 0.20341875035188456,
 1.0852228434815978]

In [105]:
sorted(["B", "c", "a", "C"], reverse=True, key=str.lower)

['c', 'C', 'B', 'a']

In [101]:
sorted(ls, reverse=True)

[1.5570857902729596,
 1.0852228434815978,
 0.9429160721831427,
 0.5526035865364803,
 0.31352186287510486,
 0.21448220356783346,
 0.20341875035188456,
 0.1687460604181699,
 0.05274832833576123,
 -0.28351951993353747]

## 5. Métodos
Se trata de una propiedad MUY utilizada en programación. Son funciones propias de las variables/objetos, y que nos permiten modificarlos u obtener más información de los mismos. Dependiendo del tipo de objeto, tendremos unos métodos disponibles diferentes.

Para usar un método se usa la sintaxis `objeto.metodo()`. Ponemos un punto entre el nombre del objeto y el del metodo, y unos paréntesis por si el método necesita de algunos argumentos. **Aunque no necesite de argumentos, los paréntesis hay que ponerlos igualmente.**

Veamos algunos ejemplos

### String
Una variable de tipo string, tiene una serie de métodos que permiten sacarle jugo a la cadena de texto. [Aquí](https://docs.python.org/2.5/lib/string-methods.html) tienes todos los métodos que podemos usar en cadenas de texto

In [155]:
txt = "Dijo que entre hoy y ayer"
cnt = 0
ls = []
for i, letter in enumerate(txt):
    if letter == "y":
        ls.append(i)

In [156]:
ls

[17, 19, 22]

In [194]:
# Programa que nos dice los índices en los
# que se encuentra un caracter `char` en un 
# string `txt`

txt = "Dijo que entre hoy y ayer"
char = "y"

ls_idx = []
j = 0
while char in txt:
    # Buscamos la primera aparición del caracter
    idx = txt.index(char)
    # Nos quedamos con el resto del string
    txt = txt[idx+1:]
    # Actualizamos el valor del índice
    if j > 0:
        j = j + idx + 1
    else:
        j = j + idx
    # Actualizamos la lista de índices
    ls_idx.append(j)

print(ls_idx)

 y ayer
 ayer
er
[17, 19, 22]

In [140]:
string_ejemplo = "string en mayusculas"

# Para poner un string todo en mayusculas
print("Todo mayusculas:", string_ejemplo.upper())

# Para poner un string todo en minusculas
print("Todo minusculas:", string_ejemplo.lower())

# Para sustituir caracteres. Dos argumentos (busca este string, sustituyelo por este otro)
print("Sustituir m por M:", string_ejemplo.replace("m", "M"))

# El replace también es muy útil cuando queremos eliminar caracteres. Sustituimos por vacío
print("Eliminar m:", string_ejemplo.replace("m", ""))

# Divide el string por un caracter en una LISTA
print("Separalo segun el numero de espacios:", string_ejemplo.split(" "))

# Devuelve la posicion del caracter que le pongamos como argumento
print("'y' está en la posición:", string_ejemplo.index("y"))

Todo mayusculas: STRING EN MAYUSCULAS
Todo minusculas: string en mayusculas
Sustituir m por M: string en Mayusculas
Eliminar m: string en ayusculas
Separalo segun el numero de espacios: ['string', 'en', 'mayusculas']
'y' está en la posición: 12

Como ves, se pueden hacer muchas cosas en los Strings gracias a sus métodos. Ya verás cómo la cosa se pone más interesante cuando los tipos de los datos sean todavía más complejos.

Los métodos son una manera de abstraernos de cierta operativa. Convertir todos los caracteres de una cadena a minuscula, puede ser un poco tedioso si no existiese el método `lower()`. Tendríamos que acudir a bucles o programación funcional.

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en métodos</h3>
         
 </td></tr>
</table>

In [164]:
# Cuando un método necesita ciertos argumentos, y no se los proporcionamos
"Hola".replace("H", "").replace("l", "k")

'oka'

## 6. Listas
Se trata de otro de los tipos de datos de Python más usados. Dentro de las colecciones, que veremos más adelante, la lista es la colección que normalmente se le da más uso. **Nos permiten almacenar conjuntos de variables u objetos**, y son elementos de lo más versátiles puesto que podemos almacenar objetos de distintos tipos, modificarlos, eliminarlos, meter listas dentro de listas... Sus dos caractrísticas principales son:
* **Mutables**: una vez se ha creado la lista, se puede modificar
* **Ordenada**: Los elementos tienen un cierto orden, lo que nos permite acceder al elemento que queramos teniendo en cuenta tal orden

En cuanto a su sintaxis, cuando declaremos la lista simplemente hay que separar cada elemento con comas, y rodearlo todo con corchetes.

In [165]:
ls = ["Hola", 5, True, ["a", "b", "c"], print]

In [166]:
ls[2]

True

In [168]:
ls[-1]("Hola")

Hola

In [170]:
ls[1] = 9

In [171]:
ls

['Hola', 9, True, ['a', 'b', 'c'], <function print>]

In [173]:
tup = ("Hola", 5, True, ["a", "b", "c"], print)
tup[1] = 9

TypeError: 'tuple' object does not support item assignment

**NOTA**: ¿Ves por qué los decimales en Python siempre van con puntos y no con comas? Con las colecciones el intérprete de Python se volvería loco.

Podemos ver tambien el tipo de la lista

In [175]:
tup

('Hola', 5, True, ['a', 'b', 'c'], <function print>)

In [176]:
list(tup)

['Hola', 5, True, ['a', 'b', 'c'], <function print>]

In [177]:
tuple(ls)

('Hola', 9, True, ['a', 'b', 'c'], <function print>)

In [174]:
type(ls)

list

Calcular la longitud de la misma mediante el método *built-in* ya visto: `len()`

In [179]:
ls

['Hola', 9, True, ['a', 'b', 'c'], <function print>]

In [181]:
len(ls[3])

3

In [178]:
len(ls)

5

Accedemos a los elemenos de la lista mediante corchetes `[]`

**Importante**. El primer elemento es el 0

In [182]:
ls[0]

'Hola'

In [183]:
ls.pop(2)

True

In [184]:
ls

['Hola', 9, ['a', 'b', 'c'], <function print>]

In [185]:
ls.append(False)

In [186]:
ls

['Hola', 9, ['a', 'b', 'c'], <function print>, False]

In [187]:
ls.insert(3, "Adios")

In [188]:
ls

['Hola', 9, ['a', 'b', 'c'], 'Adios', <function print>, False]

### Metodos en Listas
Para el tipo de objeto lista, también hay una serie de métodos catacterísticos que nos permiten operar con ellas: añadir valores, quitarlos, indexado, filtrado, etc... En [este enlace](https://www.w3schools.com/python/python_ref_list.asp) puedes encontrar todos los métodos que podrás usar con listas.

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de listas</h3>

<ol>
    <li>Crea una lista con tus películas favoritas. No te pases de larga!</li>
    <li>Imprime por pantalla la longitud de la lista</li>
    <li>Añade a esta lista otra lista con tus series favoritas</li>
</ol>
         
 </td></tr>
</table>

In [196]:
ls_pelis = ["Harry Potter", "El Señor de los Anillos", "E.T."]
print(len(ls_pelis))

ls_series = ["Stranger Things", "Narcos"]
ls_pelis.append(ls_series)

3

In [200]:
print(ls_pelis)

['Harry Potter', 'El Señor de los Anillos', 'E.T.', ['Stranger Things', 'Narcos']]

In [201]:
ls_pelis = ls_pelis + ls_series
print(ls_pelis)

['Harry Potter', 'El Señor de los Anillos', 'E.T.', ['Stranger Things', 'Narcos'], 'Stranger Things', 'Narcos']

In [202]:
ls_pelis.extend(["a", "b", "c"])

In [203]:
ls_pelis

['Harry Potter',
 'El Señor de los Anillos',
 'E.T.',
 ['Stranger Things', 'Narcos'],
 'Stranger Things',
 'Narcos',
 'a',
 'b',
 'c']

## 7. Resumen

In [ ]:
# Operaciones matemáticas
print("Operaciones matemáticas")
print(4 + 6)
print(9*2)
print(2 * (3 + 5))
print(10/5)
print(10 % 3)
print(2**10)

# Funciones matemáticas más complejas
import math
print(math.sqrt(25))


# Operaciones comparativas
print("\nOperaciones comparativas")
print("AAA" == "BBB")
print("AAA" == "AAA")
print(1 == 1)
print(1 == 1.0)
print(67 != 93)
print(67 > 93)
print(67 >= 93)


# Operaciones con booleanos
print("\nOperaciones con booleanos")
print(True and True and False)
print(True or True or False)
print(not False)


# Funciones builtin
print("\nFunciones built-in")
string_builtin = "Fin del notebook"
print(string_builtin.upper())
print(string_builtin.lower())
print( string_builtin.replace("o", "O"))
print(string_builtin.replace("o", ""))


# Listas
print("\nListas")
musica = ["AC/DC", "Metallica", "Nirvana"]
musica.append("Queen")
print(musica)